$color-text-black: #172b4d;
$color-black-main: #172b4d;
$color-white-main: #ffffff;
$color-red-main: #eb5a46;
$color-bgc-red-main: #ffcfcf;
$color-green-main: #61bd4f;
$color-yellow-main: #f2d600;
$color-orange-main: #ff9f1a;
$color-blue-main: #1976d2;
// $color-btn-blue: #0079bf;
$color-purple-main: #c377e0;
$color-gray-main: #5e6c84;
$color-gray--light: #eaecf0;
