@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Regular.woff") format("woff");
}

@font-face {
  font-weight: 600;
  font-family: "Open Sans";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-SemiBold.woff") format("woff");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  font-style: normal;
  src: url("~@/assets/fonts/OpenSans-Bold.woff") format("woff");
}

@font-face {
  font-weight: 400;
  font-family: "Roboto";
  font-style: normal;
  src: url("~@/assets/fonts/Roboto-Regular.woff2") format("woff2");
}

@font-face {
  font-weight: 500;
  font-family: "Roboto";
  font-style: normal;
  src: url("~@/assets/fonts/Roboto-Bold.woff2") format("woff2");
}
