@import 'fonts';
@import 'variables/common';
@import 'variables/colorsVars';
@import 'variables/colorsMain';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  color: var(--color-black);
  font-size: 14px;
  font-family: var(--font-primary);
  background: var(--color-gray-100);
}

a {
  text-decoration: none;
}

textarea {
  resize: vertical;
  width: 100%;
}
input,
textarea {
  -webkit-appearance: none;
  background-color: #fafbfc;
  border: none;
  border-radius: 3px;
  box-shadow: inset 0 0 0 2px #dfe1e6;
  box-sizing: border-box;
  display: block;
  line-height: 20px;
  margin-bottom: 12px;
  outline: none;
  padding: 8px 12px;
  transition-duration: 85ms;
  transition-property: background-color, border-color, box-shadow;
  transition-timing-function: ease;
}

#app {
  height: 100%;
}

.content {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
