$color-text-black: #172b4d;
$color-btn-black: #172b4d;
$color-btn-white: #ffffff;
$color-btn-red: #eb5a46;
$color-btn-bgc-red: #ffcfcf;
$color-btn-green: #61bd4f;
$color-btn-yellow: #f2d600;
$color-btn-orange: #ff9f1a;
$color-btn-blue: #1976d2;
// $color-btn-blue: #0079bf;
$color-btn-purple: #c377e0;
$color-btn-gray: #5e6c84;
$color-btn-gray--light: #eaecf0;
