@function hextorgb($hex) {
  @return red($hex), green($hex), blue($hex);
}

:root {
  --color-white: #fff;
  --color-white-rgb: #{hextorgb(#fff)};
  --color-black: #2c323a;
  --color-black-rgb: #{hextorgb(#2c323a)};
  --color-dark: #173456;
  --color-dark-rgb: #{hextorgb(#173456)};
  --color-accent: #184f90;
  --color-accent-rgb: #{hextorgb(#184f90)};
  --color-hover: #17b6dc;
  --color-hover-rgb: #{hextorgb(#17b6dc)};
  // shadow
  --color-shadow: #0a3d80;
  --color-shadow-rgb: #{hextorgb(#0a3d80)};

  // gray
  --color-gray-main: #f4f5f7;
  --color-gray-20: #4f5863;
  --color-gray-20-rgb: #{hextorgb(#4f5863)};
  --color-gray-30: #7c8a9d;
  --color-gray-40: #a6a6a6;
  --color-gray-50: #c5cbd3;
  --color-gray-50-rgb: #{hextorgb(#c5cbd3)};
  --color-gray-60: #e2e5e9;
  --color-gray-70: #ebedf0;
  --color-gray-70-rgb: #{hextorgb(#c5cbd3)};
  --color-gray-80: #f0f2f4;
  --color-gray-100: #f6f7f8;
  --color-gray-100-rgb: #{hextorgb(#f6f7f8)};
  // red
  --color-red-30: #8c2323;
  --color-red-40: #d83636;
  --color-red-40-rgb: #{hextorgb(#d83636)};
  --color-red-50: #f55;
  --color-red-50-rgb: #{hextorgb(#f55)};
  --color-red-60: #ffcfcf;
  --color-red-70: #fee2e2;
  --color-red-80: #fee;
  // orange
  --color-orange-30: #a64908;
  --color-orange-40: #e6710b;
  --color-orange-50: #ff983d;
  --color-orange-50-rgb: #{hextorgb(#ff983d)};
  --color-orange-60: #ffe2c9;
  --color-orange-70: #feefe0;
  --color-orange-80: #fff5ec;
  // yellow
  --color-yellow-30: #bf7c00;
  --color-yellow-40: #f6b100;
  --color-yellow-50: #ffd976;
  --color-yellow-50-rgb: #{hextorgb(#ffd976)};
  --color-yellow-60: #fdedc2;
  --color-yellow-70: #fef8e6;
  --color-yellow-80: #fffcf2;
  //lime
  --color-lime-30: #5a7300;
  --color-lime-40: #88ad00;
  --color-lime-50: #bdd64d;
  --color-lime-50-rgb: #{hextorgb(#bdd64d)};
  --color-lime-60: #e5f59d;
  --color-lime-70: #f0fac3;
  --color-lime-80: #f7fcde;
  //evernote-green
  --dark-green: #0e753d;
  --evernote-green-light: #26b54c;
  --evernote-green: #00a82d;
  --evernote-green-dark: #008f26;
  --evernote-green-darker: #007620;
  --med-green: #b2e4c1;
  --dark-fun-green: #007620;
  --darker-green: #2e3e34;
  --slightly-dark-green: #658873;
  --normal-green: #e9fdf1;
  //evernote-gray
  --white: #fff;
  --lighter-alabaster: #fafafa;
  --gray97: #f8f8f8;
  --gray95: #f2f2f2;
  --gallery: #ededed;
  --gray90: #e6e6e6;
  --mischka: #dadde3;
  --gray85: #d9d9d9;
  --gainsboro: #ddd;
  --silver: #c3c3c3;
  --gray80: #ccc;
  --bombay: #b5b8be;
  --gray-chateau: #9ea8b1;
  --grey30alpha: #b3b3b3;
  --dark-gray: #afafaf;
  --nobel: #b4b4b4;
  --grey40alpha: #999;
  --true-grey: #888;
  --light-slate-grey: #858f97;
  --gray65: #a6a6a6;
  --gray: #7a8083;
  --boulder: #777;
  --gray40: #666;
  --gray45: #737373;
  --nevada: #5b6b70;
  --black: #000;
  --gray25: #404040;
  --gray30: #4d4d4d;
  --mine-shaft: #313131;
  --gray20: #333;
  --gray15: #262626;
  --night-rider: #323232;
  --whisper: #e7e7e7;
  --zambezi: #5f5f5f;
  --gray71: #b5b5b5;
  --gray10: #1a1a1a;
  --black-transparent: rgba(0, 0, 0, 0.14902);
  --white-transparent: hsla(0, 0%, 100%, 0);
  // green
  --color-green-30: #104024;
  --color-green-40: #1d7341;
  --color-green-50: #44a86e;
  --color-green-50-rgb: #{hextorgb(#44a86e)};
  --color-green-60: #cce8d7;
  --color-green-70: #e4f2ea;
  --color-green-80: #edf7f1;
  // turquoise
  --color-turquoise-30: #197367;
  --color-turquoise-40: #2ac1ae;
  --color-turquoise-50: #66decf;
  --color-turquoise-50-rgb: #{hextorgb(#66decf)};
  --color-turquoise-60: #c8f1ec;
  --color-turquoise-60-rgb: #{hextorgb(#c8f1ec)};
  --color-turquoise-70: #e6f9f7;
  --color-turquoise-80: #f0fcfb;
  // cyan
  --color-cyan-30: #387982;
  --color-cyan-40: #59c1cf;
  --color-cyan-50: #6deeff;
  --color-cyan-50-rgb: #{hextorgb(#6deeff)};
  --color-cyan-60: #b5f6ff;
  --color-cyan-70: #d4faff;
  --color-cyan-80: #e3fcff;
  // blue
  --color-blue-main: #0067a3;
  --color-blue-30: #044b73;
  --color-blue-40: #0686cf;
  --color-blue-50: #08a6ff;
  --color-blue-50-rgb: #{hextorgb(#08a6ff)};
  --color-blue-60: #bbe7ff;
  --color-blue-60-rgb: #{hextorgb(#bbe7ff)};
  --color-blue-70: #dbf2fd;
  --color-blue-80: #e7f7ff;
  // cobalt
  --color-cobalt-30: #181d85;
  --color-cobalt-40: #181d85;
  --color-cobalt-50: #2f37ff;
  --color-cobalt-50-rgb: #{hextorgb(#2f37ff)};
  --color-cobalt-60: #bcd1f5;
  --color-cobalt-70: #d7e4f9;
  --color-cobalt-80: #edf3fc;
  // purple
  --color-purple-30: #3f2b59;
  --color-purple-40: #7650a6;
  --color-purple-50: #a671e9;
  --color-purple-50-rgb: #{hextorgb(#a671e9)};
  --color-purple-60: #e6d8f9;
  --color-purple-70: #eee6fa;
  --color-purple-80: #f6f1fd;
  // pink
  --color-pink-30: #8c306d;
  --color-pink-40: #ff57c5;
  --color-pink-50: #ff93da;
  --color-pink-50-rgb: #{hextorgb(#ff93da)};
  --color-pink-60: #ffd5f1;
  --color-pink-70: #fee9f8;
  --color-pink-80: #fff5fc;
  // amaranth
  --color-amaranth-30: #801b2d;
  --color-amaranth-40: #bf2843;
  --color-amaranth-50: #ff5271;
  --color-amaranth-50-rgb: #{hextorgb(#ff5271)};
  --color-amaranth-60: #ffb5c2;
  --color-amaranth-70: #ffd1d9;
  --color-amaranth-80: #ffe8ec;

  // elements
  --color-text-black: #172b4d;
  --color-btn-white: #ffffff;
  --color-btn-red: #eb5a46;
  --color-btn-bgc-red: #ffcfcf;
  --color-btn-green: #61bd4f;
  --color-btn-yellow: #f2d600;
  --color-btn-orange: #ff9f1a;
  --color-btn-blue: #0079bf;
  --color-btn-purple: #c377e0;
  --color-btn-gray: #eaecf0;

  --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12);
}
