:root {
  // Fonts
  --font-primary: "Open Sans";
  --font-weight-normal: 400;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  // Radius
  --radius-base: 3px;
  --radius-large: 5px;
  // Sizes
  --size-2: 2px;
  --size-4: 4px;
  --size-8: 8px;
  --size-10: 10px;
  --size-16: 16px;
  --size-24: 24px;
  --size-32: 32px;
  --size-40: 40px;
  --size-48: 48px;
  --size-56: 56px;
}
